<div>
  <div class="mx-1 sm:mx-3 mt-3">
    <home-header />
  </div>
  <div class="flex justify-center mt-2 mx-1">
    <div class="bg-slate-800 p-8 rounded-md w-full">
      <form>
        <label class="block">
          <label for="image-input">
            <div
              class="p-3 flex flex-col justify-center items-center rounded-md border border-dashed  border-slate-200 bg-slate-700 hover:outline-none hover:border-sky-500"
            >
              <img src="../../../assets/upload.svg" class="min-h-7 size-fit" />
              <p class="text-sm text-gray-500">
                <span class="font-extrabold">Kliknij</span> lub przciągnij zdjęcie
              </p>
            </div>
            <input
              id="image-input"
              type="file"
              name="image"
              formControlName="image"
              accept="image/*"
              class="hidden"
            />
          </label>
        </label>

        <label class="block">
          <textarea
            type="text"
            name="name"
            formControlName="name"
            placeholder="Opis"
            required
            class="block w-full mt-1 px-3 py-2 text-sm rounded-md border border-slate-200 bg-slate-800 focus:outline-none focus:border-sky-500"
          ></textarea>
        </label>
      </form>
    </div>
  </div>
</div>
